<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>582942096598-pb8v8u4k4etqpnqvpu8m3mv8uuqrs5fk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.582942096598-pb8v8u4k4etqpnqvpu8m3mv8uuqrs5fk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>582942096598-i3em5borpqdddv2hp02vnlj24si4m3up.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAUcnG1Cvfgm-bsBviQVe7iC7UKYqNYBSU</string>
	<key>GCM_SENDER_ID</key>
	<string>582942096598</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.paulinaknop.budgetAppStarting</string>
	<key>PROJECT_ID</key>
	<string>budget-app-3eb54</string>
	<key>STORAGE_BUCKET</key>
	<string>budget-app-3eb54.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:582942096598:ios:8b12615f08daf2ee821d77</string>
</dict>
</plist>